Localization
{
	en-us
	{
		#LOC_ROTanks_ROT-GenericTank_title = Modular Tank
		#LOC_ROTanks_ROT-GenericTank_description = This modular tank allows for many customizations. You can integrate top and bottom adapters, adjust the length and the diameter as well. It is comprised of many different tank types. You can choose the tank type below. Each tank type has a different base mass, different cost, and different amounts of utilization it can have. The HP versions of the tanks are Highly Pressurized and are used for engines that require it.
		#LOC_ROTanks_ROT-GenericTank_manufacturer = Generic
		#LOC_ROTanks_ROT-GenericTank_tags = fuel, tank, modular, proc, procedural
		#LOC_ROTanks_ROT-AtlasTank_title = Atlas Modular Tank
		#LOC_ROTanks_ROT-AtlasTank_description = This modular tank is based on the Atlas launch vehicle that was used by the United States in the 1950's and 1960's. You can integrate top and bottom adapters, adjust the length and the diameter as well.
		#LOC_ROTanks_ROT-AtlasTank_manufacturer = Generic
		#LOC_ROTanks_ROT-AtlasTank_tags = fuel, tank, modular, proc, procedural, atlas
		#LOC_ROTanks_ROT-BoosterTank_title = Modular Booster Tank
		#LOC_ROTanks_ROT-BoosterTank_description = This modular booster tank allows for many adjustments and simulates the types of tanks used on the R-7 family of Soviet rockets. It is comprised of many different tank types. You can choose the tank type below. Each tank type has a different base mass, different cost, and different amounts of utilization it can have. The HP versions of the tanks are Highly Pressurized and are used for engines that require it.
		#LOC_ROTanks_ROT-BoosterTank_manufacturer = Generic
		#LOC_ROTanks_ROT-BoosterTank_tags = fuel, tank, modular, proc, procedural, booster, r-7, soviet, semyorka, soyuz
		#LOC_ROTanks_ROT-KatnissTank_title = Katniss Parts Pack Tank
		#LOC_ROTanks_ROT-KatnissTank_description = This modular tank allows for many customizations. You can integrate top and bottom adapters, adjust the length and the diameter as well. It is comprised of many different tank types. You can choose the tank type below. Each tank type has a different base mass, different cost, and different amounts of utilization it can have. The HP versions of the tanks are Highly Pressurized and are used for engines that require it.
		#LOC_ROTanks_ROT-KatnissTank_manufacturer = Generic
		#LOC_ROTanks_ROT-KatnissTank_tags = fuel, tank, modular, proc, procedural, katniss, saturn
		#LOC_ROTanks_ROT-LanderTank_title = Modular Landing Tank
		#LOC_ROTanks_ROT-LanderTank_description = This modular tank allows for many customizations. You can integrate top and bottom adapters, adjust the length and the diameter as well. The different designs work best for landing craft designs.
		#LOC_ROTanks_ROT-LanderTank_manufacturer = Generic
		#LOC_ROTanks_ROT-LanderTank_tags = fuel, tank, modular, proc, procedural, land
		#LOC_ROTanks_ROT-Mount_title = Modular Mount (Structural)
		#LOC_ROTanks_ROT-Mount_description = This modular engine mount allows for many customizations. You can swap out models as well as change the diameter and length.
		#LOC_ROTanks_ROT-Mount_manufacturer = Generic
		#LOC_ROTanks_ROT-Mount_tags = modular, proc, procedural, engine, mount
		#LOC_ROTanks_ROT-Nose_title = Modular Nose Tank
		#LOC_ROTanks_ROT-Nose_description = This modular tank allows for many customizations. You can swap out models as well as change the diameter and length. It is comprised of many different tank types. You can choose the tank type below. Each tank type has a different base mass, different cost, and different amounts of utilization it can have. The HP versions of the tanks are Highly Pressurized and are used for engines that require it.
		#LOC_ROTanks_ROT-Nose_manufacturer = Generic
		#LOC_ROTanks_ROT-Nose_tags = fuel, tank, modular, proc, procedural, nose
		#LOC_ROTanks_ROT-RadialTank_title = Radial Tank
		#LOC_ROTanks_ROT-RadialTank_description = This radial tank allows for many customizations. By adjusting the dimensions, the entire tank will adjust as well. It is comprised of many different tank types. You can choose the tank type below. Each tank type has a different base mass, different cost, and different amounts of utilization it can have. The HP versions of the tanks are Highly Pressurized and are used for engines that require it.
		#LOC_ROTanks_ROT-RadialTank_manufacturer = Generic
		#LOC_ROTanks_ROT-RadialTank_tags = fuel, tank, modular, proc, procedural, radial
		#LOC_ROTanks_ROT-SphericalTank_title = Spherical Tank
		#LOC_ROTanks_ROT-SphericalTank_description = This spherical tank allows for many customizations. You can adjust the dimensions and the part will scale. It is comprised of many different tank types. You can choose the tank type below. Each tank type has a different base mass, different cost, and different amounts of utilization it can have. The HP versions of the tanks are Highly Pressurized and are used for engines that require it.
		#LOC_ROTanks_ROT-SphericalTank_manufacturer = Generic
		#LOC_ROTanks_ROT-SphericalTank_tags = fuel, tank, modular, proc, procedural, sphere, spherical
		#LOC_ROTanks_ROT-ToroidalTank_title = Modular Toroidal Tank
		#LOC_ROTanks_ROT-ToroidalTank_description = This toroidal tank allows for many customizations with a hollow collision box. By adjusting the dimensions, the entire tank will adjust as well. It is comprised of many different tank types. You can choose the tank type below. Each tank type has a different base mass, different cost, and different amounts of utilization it can have. The HP versions of the tanks are Highly Pressurized and are used for engines that require it.
		#LOC_ROTanks_ROT-ToroidalTank_manufacturer = Generic
		#LOC_ROTanks_ROT-ToroidalTank_tags = fuel, tank, modular, proc, procedural, toroid, toroidal
		#LOC_ROTanks_ROT-AtlasDecoupler_title = Atlas Skirt Decoupler
		#LOC_ROTanks_ROT-AtlasDecoupler_description = The Atlas Skirt Decoupler is designed to be used as part of the Stage and a Half Designs used by the Atlas Launch Vehicle.
		#LOC_ROTanks_ROT-AtlasDecoupler_manufacturer = Generic
		#LOC_ROTanks_ROT-AtlasDecoupler_tags = modular, proc, procedural, decoupler, atlas, skirt
		#LOC_ROTanks_ROT-ModularCargoBay_title = Modular Cargo Bay
		#LOC_ROTanks_ROT-ModularCargoBay_description = The Modular Cargo Bay gives you the flexibility to design the size and style of cargo bay needed for every mission and spacecraft. These are based on the Mars DRM trusses.
		#LOC_ROTanks_ROT-ModularCargoBay_manufacturer = Generic
		#LOC_ROTanks_ROT-ModularCargoBay_tags = fuel, tank, modular, proc, procedural
		#LOC_ROTanks_ROT-OpenInterstage_title = Hollow Interstage
		#LOC_ROTanks_ROT-OpenInterstage_description = The Hollow Interstage allows you to change the Diameter of the part to fit many different configurations for your craft. It allows for customization of Decoupling just the bottom node as normal, or both nodes like a separator.
		#LOC_ROTanks_ROT-OpenInterstage_manufacturer = Generic
		#LOC_ROTanks_ROT-OpenInterstage_tags = modular, proc, procedural, decoupler, separator, interstage
		#LOC_ROTanks_ROT-RingDecoupler_title = Ring Decoupler
		#LOC_ROTanks_ROT-RingDecoupler_description = The Ring Decoupler allows you to change the Diameter of the part to fit many different configurations for your craft. It allows for customization of Decoupling just the bottom node as normal, or both nodes like a separator.
		#LOC_ROTanks_ROT-RingDecoupler_manufacturer = Generic
		#LOC_ROTanks_ROT-RingDecoupler_tags = modular, proc, procedural, decoupler, separator
		#LOC_ROTanks_ROT-ProbeCore_title = Procedural Probe Core
		#LOC_ROTanks_ROT-ProbeCore_description = The resizable Procedural Probe Core uses Procedural Avionics to allow for varying avionics control.
		#LOC_ROTanks_ROT-ProbeCore_manufacturer = Generic
		#LOC_ROTanks_ROT-ProbeCore_tags = avionics, tank, probe, core
		#LOC_ROTanks_ROT-reDIRECTAvionics_title = reDIRECT Avionics
		#LOC_ROTanks_ROT-reDIRECTAvionics_description = The resizable Avionics Core uses Procedural Avionics to allow for varying avionics control.
		#LOC_ROTanks_ROT-reDIRECTAvionics_manufacturer = Generic
		#LOC_ROTanks_ROT-reDIRECTAvionics_tags = modular, proc, procedural, avionics
		#LOC_ROTanks_ROT-reDIRECTDecoupler_title = reDIRECT Decoupler
		#LOC_ROTanks_ROT-reDIRECTDecoupler_description = The Decoupler allows you to change the Diameter of the part to fit many different configurations for your craft. It allows for customization of Decoupling just the bottom node as normal, or both nodes like a separator.
		#LOC_ROTanks_ROT-reDIRECTDecoupler_manufacturer = Generic
		#LOC_ROTanks_ROT-reDIRECTDecoupler_tags = modular, proc, procedural, decoupler, separator
		#LOC_ROTanks_ROT-MiscTank_title = Another Modular Tank
		#LOC_ROTanks_ROT-MiscTank-Radial_title = Another Modular Radial Tank
		#LOC_ROTanks_ROT-CMES-Tank_title = CMES Modular Tank
		#LOC_ROTanks_ROT-reDIRECTTank_title = reDIRECT Modular Tank
	}

	ru
	{
		#LOC_ROTanks_ROT-GenericTank_title = Модульный бак
		#LOC_ROTanks_ROT-GenericTank_description = Модульный бак с широкими настройками: верхний и нижний адаптеры, длина и диаметр регулируются. Включает разные типы баков — тип выбирается ниже, у каждого своя масса, цена и степень использования объёма. Версии HP — под высоким давлением, для двигателей, которым это нужно.
		#LOC_ROTanks_ROT-GenericTank_manufacturer = Generic
		#LOC_ROTanks_ROT-GenericTank_tags = топливо, бак, модульный, процед, процедурный
		#LOC_ROTanks_ROT-AtlasTank_title = Модульный бак Атлас
		#LOC_ROTanks_ROT-AtlasTank_description = Модульный бак на основе ракеты-носителя Атлас, применявшейся в США в 1950-х и 1960-х годах. Верхний и нижний адаптеры, длина и диаметр регулируются.
		#LOC_ROTanks_ROT-AtlasTank_manufacturer = Generic
		#LOC_ROTanks_ROT-AtlasTank_tags = топливо, бак, модульный, процед, процедурный, атлас
		#LOC_ROTanks_ROT-BoosterTank_title = Модульный бак-ускоритель
		#LOC_ROTanks_ROT-BoosterTank_description = Модульный бак-ускоритель с широкими настройками, имитирует баки советских ракет семейства Р-7. Включает разные типы баков — тип выбирается ниже, у каждого своя масса, цена и степень использования объёма. Версии HP — под высоким давлением, для двигателей, которым это нужно.
		#LOC_ROTanks_ROT-BoosterTank_manufacturer = Generic
		#LOC_ROTanks_ROT-BoosterTank_tags = топливо, бак, модульный, процед, процедурный, ускоритель, р-7, советский, семёрка, союз
		#LOC_ROTanks_ROT-KatnissTank_title = Бак Katniss Parts Pack
		#LOC_ROTanks_ROT-KatnissTank_description = Модульный бак с широкими настройками: верхний и нижний адаптеры, длина и диаметр регулируются. Включает разные типы баков — тип выбирается ниже, у каждого своя масса, цена и степень использования объёма. Версии HP — под высоким давлением, для двигателей, которым это нужно.
		#LOC_ROTanks_ROT-KatnissTank_manufacturer = Generic
		#LOC_ROTanks_ROT-KatnissTank_tags = топливо, бак, модульный, процед, процедурный, katniss, сатурн
		#LOC_ROTanks_ROT-LanderTank_title = Модульный посадочный бак
		#LOC_ROTanks_ROT-LanderTank_description = Модульный бак с широкими настройками: верхний и нижний адаптеры, длина и диаметр регулируются. Разные конфигурации оптимальны для посадочных аппаратов.
		#LOC_ROTanks_ROT-LanderTank_manufacturer = Generic
		#LOC_ROTanks_ROT-LanderTank_tags = топливо, бак, модульный, процед, процедурный, посадка
		#LOC_ROTanks_ROT-Mount_title = Модульное крепление (структурное)
		#LOC_ROTanks_ROT-Mount_description = Модульное крепление двигателя с широкими настройками: модели меняются, диаметр и длина регулируются.
		#LOC_ROTanks_ROT-Mount_manufacturer = Generic
		#LOC_ROTanks_ROT-Mount_tags = модульный, процед, процедурный, двигатель, крепление
		#LOC_ROTanks_ROT-Nose_title = Модульный носовой бак
		#LOC_ROTanks_ROT-Nose_description = Модульный бак с широкими настройками: модели меняются, диаметр и длина регулируются. Включает разные типы баков — тип выбирается ниже, у каждого своя масса, цена и степень использования объёма. Версии HP — под высоким давлением, для двигателей, которым это нужно.
		#LOC_ROTanks_ROT-Nose_manufacturer = Generic
		#LOC_ROTanks_ROT-Nose_tags = топливо, бак, модульный, процед, процедурный, нос
		#LOC_ROTanks_ROT-RadialTank_title = Радиальный бак
		#LOC_ROTanks_ROT-RadialTank_description = Радиальный бак с широкими настройками — меняя размеры, весь бак подстраивается. Включает разные типы баков — тип выбирается ниже, у каждого своя масса, цена и степень использования объёма. Версии HP — под высоким давлением, для двигателей, которым это нужно.
		#LOC_ROTanks_ROT-RadialTank_manufacturer = Generic
		#LOC_ROTanks_ROT-RadialTank_tags = топливо, бак, модульный, процед, процедурный, радиальный
		#LOC_ROTanks_ROT-SphericalTank_title = Сферический бак
		#LOC_ROTanks_ROT-SphericalTank_description = Сферический бак с широкими настройками — размеры регулируются, деталь масштабируется. Включает разные типы баков — тип выбирается ниже, у каждого своя масса, цена и степень использования объёма. Версии HP — под высоким давлением, для двигателей, которым это нужно.
		#LOC_ROTanks_ROT-SphericalTank_manufacturer = Generic
		#LOC_ROTanks_ROT-SphericalTank_tags = топливо, бак, модульный, процед, процедурный, сфера, сферический
		#LOC_ROTanks_ROT-ToroidalTank_title = Модульный тороидальный бак
		#LOC_ROTanks_ROT-ToroidalTank_description = Тороидальный бак с широкими настройками и полым корпусом для коллизий — меняя размеры, весь бак подстраивается. Включает разные типы баков — тип выбирается ниже, у каждого своя масса, цена и степень использования объёма. Версии HP — под высоким давлением, для двигателей, которым это нужно.
		#LOC_ROTanks_ROT-ToroidalTank_manufacturer = Generic
		#LOC_ROTanks_ROT-ToroidalTank_tags = топливо, бак, модульный, процед, процедурный, тороид, тороидальный
		#LOC_ROTanks_ROT-AtlasDecoupler_title = Юбочный отделитель Атлас
		#LOC_ROTanks_ROT-AtlasDecoupler_description = Юбочный отделитель Атлас для конструкций «полторы ступени» ракеты-носителя Атлас.
		#LOC_ROTanks_ROT-AtlasDecoupler_manufacturer = Generic
		#LOC_ROTanks_ROT-AtlasDecoupler_tags = модульный, процед, процедурный, отделитель, атлас, юбка
		#LOC_ROTanks_ROT-ModularCargoBay_title = Модульный грузовой отсек
		#LOC_ROTanks_ROT-ModularCargoBay_description = Модульный грузовой отсек даёт гибкость в размере и стиле под любую миссию и корабль. Основан на фермах Mars DRM.
		#LOC_ROTanks_ROT-ModularCargoBay_manufacturer = Generic
		#LOC_ROTanks_ROT-ModularCargoBay_tags = топливо, бак, модульный, процед, процедурный
		#LOC_ROTanks_ROT-OpenInterstage_title = Полый переходник
		#LOC_ROTanks_ROT-OpenInterstage_description = Полый переходник меняет диаметр под разные конфигурации аппарата. Можно отделять только нижний узел, как обычно, либо оба узла — как разделитель.
		#LOC_ROTanks_ROT-OpenInterstage_manufacturer = Generic
		#LOC_ROTanks_ROT-OpenInterstage_tags = модульный, процед, процедурный, отделитель, разделитель, переходник
		#LOC_ROTanks_ROT-RingDecoupler_title = Кольцевой отделитель
		#LOC_ROTanks_ROT-RingDecoupler_description = Кольцевой отделитель меняет диаметр под разные конфигурации аппарата. Можно отделять только нижний узел, как обычно, либо оба узла — как разделитель.
		#LOC_ROTanks_ROT-RingDecoupler_manufacturer = Generic
		#LOC_ROTanks_ROT-RingDecoupler_tags = модульный, процед, процедурный, отделитель, разделитель
		#LOC_ROTanks_ROT-ProbeCore_title = Процедурный зонд-ядро
		#LOC_ROTanks_ROT-ProbeCore_description = Масштабируемый процедурный зонд-ядро использует процедурную авионику для гибкого управления.
		#LOC_ROTanks_ROT-ProbeCore_manufacturer = Generic
		#LOC_ROTanks_ROT-ProbeCore_tags = авионика, бак, зонд, ядро
		#LOC_ROTanks_ROT-reDIRECTAvionics_title = Авионика reDIRECT
		#LOC_ROTanks_ROT-reDIRECTAvionics_description = Масштабируемый блок авионики использует процедурную авионику для гибкого управления.
		#LOC_ROTanks_ROT-reDIRECTAvionics_manufacturer = Generic
		#LOC_ROTanks_ROT-reDIRECTAvionics_tags = модульный, процед, процедурный, авионика
		#LOC_ROTanks_ROT-reDIRECTDecoupler_title = Отделитель reDIRECT
		#LOC_ROTanks_ROT-reDIRECTDecoupler_description = Отделитель меняет диаметр под разные конфигурации аппарата. Можно отделять только нижний узел, как обычно, либо оба узла — как разделитель.
		#LOC_ROTanks_ROT-reDIRECTDecoupler_manufacturer = Generic
		#LOC_ROTanks_ROT-reDIRECTDecoupler_tags = модульный, процед, процедурный, отделитель, разделитель
		#LOC_ROTanks_ROT-MiscTank_title = Другой модульный бак
		#LOC_ROTanks_ROT-MiscTank-Radial_title = Другой модульный радиальный бак
		#LOC_ROTanks_ROT-CMES-Tank_title = Модульный бак CMES
		#LOC_ROTanks_ROT-reDIRECTTank_title = Модульный бак reDIRECT
	}
}
