Localization
{
	en-us
	{
		#LOC_kerbalru_RealAntennas_commDish_title = 4.8m Folded Parabolic Antenna
		#LOC_kerbalru_RealAntennas_RelayAntenna5_title = 1m Parabolic Antenna
		#LOC_kerbalru_RealAntennas_RelayAntenna50_title = 2m Parabolic Antenna
		#LOC_kerbalru_RealAntennas_RelayAntenna100_title = 4m Parabolic Antenna
	}
	ru
	{
		#LOC_kerbalru_RealAntennas_commDish_title = Складная параболическая антенна 4.8м
		#LOC_kerbalru_RealAntennas_RelayAntenna5_title = Параболическая антенна 1м
		#LOC_kerbalru_RealAntennas_RelayAntenna50_title = Параболическая антенна 2м
		#LOC_kerbalru_RealAntennas_RelayAntenna100_title = Параболическая антенна 4м
	}
}
