Localization
{
	en-us
	{
		#LOC_kerbalru_RealAntennas_commDish_title = 4.8m Folded Parabolic Antenna
		#LOC_kerbalru_RealAntennas_RelayAntenna5_title = 1m Parabolic Antenna
		#LOC_kerbalru_RealAntennas_RelayAntenna50_title = 2m Parabolic Antenna
		#LOC_kerbalru_RealAntennas_RelayAntenna100_title = 4m Parabolic Antenna
		#LOC_kerbalru_RealAntennas_commDish_description = Expands to a very wide (4.75m) dish. Low power, high bandwidth, good for Jupiter and a little beyond.
		#LOC_kerbalru_RealAntennas_RelayAntenna5_description = A fixed Cassegrain parabolic antenna for general applications. Features a composite protective cover for the reflector.
		#LOC_kerbalru_RealAntennas_RelayAntenna50_description = A fixed Gregorian - style parabolic antenna for deep space telecommunications.
	}
	ru
	{
		#LOC_kerbalru_RealAntennas_commDish_title = Складная параболическая антенна 4.8м
		#LOC_kerbalru_RealAntennas_RelayAntenna5_title = Параболическая антенна 1м
		#LOC_kerbalru_RealAntennas_RelayAntenna50_title = Параболическая антенна 2м
		#LOC_kerbalru_RealAntennas_RelayAntenna100_title = Параболическая антенна 4м
		#LOC_kerbalru_RealAntennas_commDish_description = Раскрывается в антенну большого диаметра (4.75 м). Низкая мощность, высокая пропускная способность — подходит для связи в районе Юпитера и немного дальше.
		#LOC_kerbalru_RealAntennas_RelayAntenna5_description = Стационарная параболическая антенна Кассегрена общего применения. Отражатель защищён композитным кожухом.
		#LOC_kerbalru_RealAntennas_RelayAntenna50_description = Стационарная параболическая антенна схемы Грегори для дальней космической связи.
	}
}
