Localization
{
	en-us
	{
		#LOC_kerbalru_ProceduralFairings_KzInterstageAdapter2_title = IB - Procedural Interstage Fairing Adapter
		#LOC_kerbalru_ProceduralFairings_KzInterstageAdapter2_description = Enables side fairings to hold the part at the top. <b><color=green>From Procedural Fairings mod</color></b>
		#LOC_kerbalru_ProceduralFairings_KzResizableFairingBaseRing_title = FB - Procedural Fairing Base Ring
		#LOC_kerbalru_ProceduralFairings_KzResizableFairingBaseRing_description = Structural base for mounting side fairings and your payload. Ring style. <b><color=green>From Procedural Fairings mod</color></b>
		#LOC_kerbalru_ProceduralFairings_KzThrustPlate_title = Thrust Plate [Procedural]
	}
	ru
	{
		#LOC_kerbalru_ProceduralFairings_KzInterstageAdapter2_title = IB - Процедурный переходник межступенчатого обтекателя
		#LOC_kerbalru_ProceduralFairings_KzInterstageAdapter2_description = Позволяет боковым обтекателям удерживать деталь сверху. <b><color=green>From Procedural Fairings mod</color></b>
		#LOC_kerbalru_ProceduralFairings_KzResizableFairingBaseRing_title = FB - Процедурное кольцо основания обтекателя
		#LOC_kerbalru_ProceduralFairings_KzResizableFairingBaseRing_description = Конструктивное основание для крепления боковых обтекателей и полезной нагрузки. Кольцевой тип. <b><color=green>From Procedural Fairings mod</color></b>
		#LOC_kerbalru_ProceduralFairings_KzThrustPlate_title = Тяговая плита [Процедурная]
	}
}
