Localization
{
    ru
    {
        //Planet & Biomes

        #RSS_Sun_name = Солнце^N

        #RSS_Ceres_name = Церера^F

        #RSS_Earth_name = Земля^F

        #RSS_Moon_name = Луна^F

        #RSS_Jupiter_name = Юпитер^M

        #RSS_Io_name = Ио^F

        #RSS_Europa_name = Европа^F

        #RSS_Ganymede_name = Ганимед^M

        #RSS_Callisto_name = Каллисто^F

        #RSS_Mars_name = Марс^M

        #RSS_Phobos_name = Фобос^M

        #RSS_Deimos_name = Деймос^M

        #RSS_Mercury_name = Меркурий^M

        #RSS_Neptune_name = Нептун^M

        #RSS_Triton_name = Тритон^M

        #RSS_Pluto_name = Плутон^M

        #RSS_Charon_Name = Харон^M

        #RSS_Saturn_name = Сатурн^M

        #RSS_Mimas_name = Мимас^M

        #RSS_Enceladus_name = Энцелад^M

        #RSS_Tethys_name = Тефия^F

        #RSS_Dione_name = Диона^F

        #RSS_Rhea_Name = Рея^F

        #RSS_Titan_name = Титан^M

        #RSS_Iapetus_name = Япет^M

        #RSS_Uranus_name = Уран^M

        #RSS_Ariel_name = Ариэль^M

        #RSS_Umbriel_name = Умбриэль^M

        #RSS_Titania_name = Титания^F

        #RSS_Oberon_name = Оберон^M

        #RSS_Miranda_name = Миранда^F

        #RSS_Venus_name = Венера^F

        #RSS_Vesta_name = Веста^F
        //--- kerbalru biome additions ---

        #RSS_Ceres_Biome1 = Нагорья

        #RSS_Ceres_Biome2 = Белые пятна

        #RSS_Ceres_Biome3 = Кратер Оккатор

        #RSS_Ceres_Biome4 = Равнина Керван

        #RSS_Ceres_Biome5 = Среднегорье

        #RSS_Ceres_Biome6 = Низменность

        #RSS_Ceres_Biome7 = Кратер Задени

        #RSS_Ceres_Biome8 = Кратер Урвара

        #RSS_Ceres_Biome9 = Кратер Ялоде

        #RSS_Ceres_Biome10 = Высшие точки

        #RSS_Ceres_Biome11 = Кратер Хаулани

        #RSS_Earth_Biome1 = Побережье

        #RSS_Earth_Biome2 = Степи

        #RSS_Earth_Biome3 = Тундра

        #RSS_Earth_Biome4 = Горы

        #RSS_Earth_Biome5 = Пустыня

        #RSS_Earth_Biome6 = Тропики

        #RSS_Earth_Biome7 = Ледники

        #RSS_Earth_Biome8 = Вода

        #RSS_Earth_Biome9 = Тайга

        #RSS_Earth_Biome10 = Лес

        #RSS_Earth_Biome11 = Саванна

        #RSS_Moon_Biome1 = Низменность

        #RSS_Moon_Biome2 = Среднегорье

        #RSS_Moon_Biome3 = Нагорья

        #RSS_Moon_Biome4 = Северный полюс

        #RSS_Moon_Biome5 = Южный полюс

        #RSS_Moon_Biome6 = Крупные кратеры

        #RSS_Moon_Biome7 = Бассейн Эйткен

        #RSS_Moon_Biome8 = Океан Бурь

        #RSS_Moon_Biome9 = Море Восточное

        #RSS_Moon_Biome10 = Море Облаков

        #RSS_Moon_Biome11 = Море Дождей

        #RSS_Moon_Biome12 = Море Ясности

        #RSS_Moon_Biome13 = Море Спокойствия

        #RSS_Moon_Biome14 = Море Изобилия

        #RSS_Moon_Biome15 = Море Нектара

        #RSS_Moon_Biome16 = Море Холода

        #RSS_Moon_Biome17 = Море Кризисов

        #RSS_Jupiter_Biome1 = Экваториальные пояса

        #RSS_Jupiter_Biome2 = Большое Красное Пятно

        #RSS_Jupiter_Biome3 = Южные умеренные пояса

        #RSS_Jupiter_Biome4 = Южные полярные пояса

        #RSS_Jupiter_Biome5 = Северные умеренные пояса

        #RSS_Jupiter_Biome6 = Северные полярные пояса

        #RSS_Io_Biome1 = Низменность

        #RSS_Io_Biome2 = Среднегорье

        #RSS_Io_Biome3 = Нагорья

        #RSS_Io_Biome4 = Пирокластические пустоши

        #RSS_Io_Biome5 = Вулканические снега

        #RSS_Io_Biome6 = Вулканические потоки

        #RSS_Io_Biome7 = Вулканические очаги

        #RSS_Europa_Biome1 = Гребенчатые равнины

        #RSS_Europa_Biome2 = Аргаднел Регио

        #RSS_Europa_Biome3 = Хаотичные равнины

        #RSS_Europa_Biome4 = Пересечённые равнины

        #RSS_Europa_Biome5 = Линеаменты

        #RSS_Europa_Biome6 = Кратеры

        #RSS_Ganymede_Biome1 = Низменность

        #RSS_Ganymede_Biome2 = Среднегорье

        #RSS_Ganymede_Biome3 = Нагорья

        #RSS_Ganymede_Biome4 = Криовулканический лёд

        #RSS_Ganymede_Biome5 = Тектонические деформации

        #RSS_Ganymede_Biome6 = Полюса

        #RSS_Ganymede_Biome7 = Кратеры

        #RSS_Ganymede_Biome8 = Бассейн Гильгамеш

        #RSS_Callisto_Biome1 = Низменность

        #RSS_Callisto_Biome2 = Кратерное среднегорье

        #RSS_Callisto_Biome3 = Кратерные нагорья

        #RSS_Callisto_Biome4 = Кратер Асгард

        #RSS_Callisto_Biome5 = Кратер Вальхалла

        #RSS_Callisto_Biome6 = Молодые кратеры

        #RSS_Callisto_Biome7 = Старые кратеры

        #RSS_Callisto_Biome8 = Полюса

        #RSS_Mars_Biome1 = Среднегорье

        #RSS_Mars_Biome2 = Гора Олимп

        #RSS_Mars_Biome3 = Долины Маринера

        #RSS_Mars_Biome4 = Марсианские горы

        #RSS_Mars_Biome5 = Марсианские каньоны

        #RSS_Mars_Biome6 = Северная полярная шапка

        #RSS_Mars_Biome7 = Южная полярная шапка

        #RSS_Mars_Biome8 = Крупные кратеры

        #RSS_Mars_Biome9 = Нагорья

        #RSS_Mars_Biome10 = Низменность

        #RSS_Mars_Biome11 = Гора Альба

        #RSS_Mars_Biome12 = Гора Элизий

        #RSS_Mars_Biome13 = Возвышенность Фарсида

        #RSS_Mars_Biome14 = Земля Темпе

        #RSS_Mars_Biome15 = Бассейн Эллада

        #RSS_Mars_Biome16 = Бассейн Аргир

        #RSS_Mars_Biome17 = Аравийская Земля

        #RSS_Mars_Biome18 = Равнина Утопия

        #RSS_Mars_Biome19 = Равнина Амазонис

        #RSS_Phobos_Biome1 = Низменность

        #RSS_Phobos_Biome2 = Мелкие кратеры

        #RSS_Phobos_Biome3 = Крупные кратеры

        #RSS_Phobos_Biome4 = Кратер Стикни

        #RSS_Phobos_Biome5 = Борозды

        #RSS_Phobos_Biome6 = Нагорья

        #RSS_Phobos_Biome7 = Среднегорье

        #RSS_Deimos_Biome1 = Низменность

        #RSS_Deimos_Biome2 = Кратеры

        #RSS_Deimos_Biome3 = Нагорья

        #RSS_Mercury_Biome1 = Низменность

        #RSS_Mercury_Biome2 = Среднегорье

        #RSS_Mercury_Biome3 = Нагорья

        #RSS_Mercury_Biome4 = Полярные кратеры

        #RSS_Mercury_Biome5 = Полярные низменности

        #RSS_Mercury_Biome6 = Равнина

        #RSS_Mercury_Biome7 = Старые кратеры

        #RSS_Mercury_Biome8 = Молодые кратеры

        #RSS_Neptune_Biome1 = Экваториальные пояса

        #RSS_Neptune_Biome2 = Северные полярные пояса

        #RSS_Neptune_Biome3 = Северные умеренные пояса

        #RSS_Neptune_Biome4 = Северные экваториальные пояса

        #RSS_Neptune_Biome5 = Южные умеренные пояса

        #RSS_Neptune_Biome6 = Южные полярные пояса

        #RSS_Triton_Biome1 = Равнины

        #RSS_Triton_Biome2 = Северный полярный регион

        #RSS_Triton_Biome3 = Южный полярный регион

        #RSS_Pluto_Biome1 = Поверхность

        #RSS_Pluto_Biome2 = Горы аль-Идриси

        #RSS_Pluto_Biome3 = Горы Чжэн Хэ

        #RSS_Pluto_Biome4 = Горы Баре

        #RSS_Pluto_Biome5 = Горы Хиллари

        #RSS_Pluto_Biome6 = Горы Норгей

        #RSS_Pluto_Biome7 = Равнина Спутник

        #RSS_Pluto_Biome8 = Кратер Бёрни

        #RSS_Pluto_Biome9 = Кратер Симонелли

        #RSS_Pluto_Biome10 = Кратер Гест

        #RSS_Pluto_Biome11 = Кратер Харрингтон

        #RSS_Pluto_Biome12 = Кратер Эллиот

        #RSS_Pluto_Biome13 = Кратер К. Эджворт

        #RSS_Pluto_Biome14 = Кратер Оорт

        #RSS_Pluto_Biome15 = Хребет Тартар

        #RSS_Pluto_Biome16 = Земля Хаябуса

        #RSS_Pluto_Biome17 = Земля Пионер

        #RSS_Pluto_Biome18 = Земля Вояджер

        #RSS_Pluto_Biome19 = Земля Викинг

        #RSS_Pluto_Biome20 = Земля Венера

        #RSS_Charon_Biome1 = Поверхность

        #RSS_Charon_Biome2 = Пятно Мордор

        #RSS_Charon_Biome3 = Каньон Серенити

        #RSS_Charon_Biome4 = Кратер Алиса

        #RSS_Charon_Biome5 = Пятно Галлифрей

        #RSS_Charon_Biome6 = Кратер Рипли

        #RSS_Charon_Biome7 = Кратер Насреддин

        #RSS_Charon_Biome8 = Каньон Макросс

        #RSS_Charon_Biome9 = Гора Батлер

        #RSS_Charon_Biome10 = Каньон Арго

        #RSS_Charon_Biome11 = Кратер Кагуя-химэ

        #RSS_Charon_Biome12 = Гора Кубрик

        #RSS_Charon_Biome13 = Плато Вулкан

        #RSS_Saturn_Biome1 = Экваториальные полосы

        #RSS_Saturn_Biome2 = Северные полярные бури

        #RSS_Saturn_Biome3 = Северные умеренные полосы

        #RSS_Saturn_Biome4 = Северные экваториальные полосы

        #RSS_Saturn_Biome5 = Южные экваториальные полосы

        #RSS_Saturn_Biome6 = Южные умеренные полосы

        #RSS_Saturn_Biome7 = Южные полярные бури

        #RSS_Mimas_Biome1 = Низменность

        #RSS_Mimas_Biome2 = Северный полюс

        #RSS_Mimas_Biome3 = Южный полюс

        #RSS_Mimas_Biome4 = Гершель

        #RSS_Mimas_Biome5 = Кратер

        #RSS_Mimas_Biome6 = Пик Гершель

        #RSS_Enceladus_Biome1 = Равнины

        #RSS_Enceladus_Biome2 = Северный полюс

        #RSS_Enceladus_Biome3 = Южный полюс

        #RSS_Enceladus_Biome4 = Кратеры

        #RSS_Tethys_Biome1 = Равнины

        #RSS_Tethys_Biome2 = Северный полюс

        #RSS_Tethys_Biome3 = Южный полюс

        #RSS_Tethys_Biome4 = Одиссей

        #RSS_Tethys_Biome5 = Каньон Итака

        #RSS_Tethys_Biome6 = Кратеры

        #RSS_Dione_Biome1 = Равнины

        #RSS_Dione_Biome2 = Северный полюс

        #RSS_Dione_Biome3 = Южный полюс

        #RSS_Dione_Biome4 = Разломы

        #RSS_Dione_Biome5 = Кратер

        #RSS_Dione_Biome6 = Хребет

        #RSS_Rhea_Biome1 = Равнины

        #RSS_Rhea_Biome2 = Северный полюс

        #RSS_Rhea_Biome3 = Южный полюс

        #RSS_Rhea_Biome4 = Кратеры

        #RSS_Titan_Biome1 = Низменности

        #RSS_Titan_Biome2 = Среднегорья

        #RSS_Titan_Biome3 = Возвышенности

        #RSS_Titan_Biome4 = Побережья

        #RSS_Titan_Biome5 = Моря

        #RSS_Titan_Biome6 = Каньоны

        #RSS_Titan_Biome7 = Полюса

        #RSS_Iapetus_Biome1 = Низменности

        #RSS_Iapetus_Biome2 = Северный полюс

        #RSS_Iapetus_Biome3 = Южный полюс

        #RSS_Iapetus_Biome4 = Кратер

        #RSS_Iapetus_Biome5 = Тургис

        #RSS_Iapetus_Biome6 = Центральный выступ

        #RSS_Uranus_Biome1 = Экваториальные полосы

        #RSS_Uranus_Biome2 = Северные полярные полосы

        #RSS_Uranus_Biome3 = Северные умеренные полосы

        #RSS_Uranus_Biome4 = Северные экваториальные полосы

        #RSS_Uranus_Biome5 = Южные умеренные полосы

        #RSS_Uranus_Biome6 = Южные полярные полосы

        #RSS_Ariel_Biome1 = Равнины

        #RSS_Ariel_Biome2 = Каньоны

        #RSS_Ariel_Biome3 = Кратеры

        #RSS_Umbriel_Biome1 = Среднегорья

        #RSS_Umbriel_Biome2 = Северный кратер

        #RSS_Umbriel_Biome3 = Север

        #RSS_Umbriel_Biome4 = Юг

        #RSS_Umbriel_Biome5 = Малый кратер

        #RSS_Titania_Biome1 = Среднегорья

        #RSS_Titania_Biome2 = Кратер Гертруда

        #RSS_Titania_Biome3 = Кратер

        #RSS_Titania_Biome4 = Каньоны Мессина

        #RSS_Titania_Biome5 = Кратер Урсула

        #RSS_Titania_Biome6 = Южный полюс

        #RSS_Titania_Biome7 = Северный полюс

        #RSS_Oberon_Biome1 = Равнины

        #RSS_Oberon_Biome2 = Каньоны

        #RSS_Oberon_Biome3 = Кратеры

        #RSS_Oberon_Biome4 = Кратер Гамлет

        #RSS_Miranda_Biome1 = Область

        #RSS_Miranda_Biome2 = Кратеры

        #RSS_Miranda_Biome3 = Венцы

        #RSS_Miranda_Biome4 = Уступы

        #RSS_Miranda_Biome5 = Борозды

        #RSS_Miranda_Biome6 = Уступ Верона

        #RSS_Venus_Biome1 = Среднегорья

        #RSS_Venus_Biome2 = Горы

        #RSS_Venus_Biome3 = Каньоны

        #RSS_Venus_Biome4 = Плато Лакшми

        #RSS_Venus_Biome5 = Тессера Фортуна

        #RSS_Venus_Biome6 = Вулканическое поднятие

        #RSS_Venus_Biome7 = Возвышенности

        #RSS_Venus_Biome8 = Низменности

        #RSS_Vesta_Biome1 = Среднегорья

        #RSS_Vesta_Biome2 = Марция

        #RSS_Vesta_Biome3 = Кратер Кальпурния

        #RSS_Vesta_Biome4 = Кратер Минуция

        #RSS_Vesta_Biome5 = Земля Весталия

        #RSS_Vesta_Biome6 = Равнина Фералии

        #RSS_Vesta_Biome7 = Борозды Сатурналии

        #RSS_Vesta_Biome8 = Борозды Дивалии

        #RSS_Vesta_Biome9 = Кратер Альбана

        #RSS_Vesta_Biome10 = Кратер Помпония

        #RSS_Vesta_Biome11 = Уступ Парентацио

        #RSS_Vesta_Biome12 = Реясильвия

        #RSS_Vesta_Biome13 = Южные кратеры

        #RSS_Vesta_Biome14 = Северный полюс
    }
}
