Localization
{
	ru
	{
		#roMfrNII88 = Научно-исследовательский институт №88 (НИИ-88)
		#roMfrTsNIIMash = Центральный научно-исследовательский институт машиностроения (ЦНИИмаш)
		#roMfrOKB1 = ОКБ-1 (Королёв)
		#roMfrNPOEnergia = НПО «Энергия»
		#roMfrRKKEnergia = РКК «Энергия» имени С. П. Королёва
		#roMfrOKB2 = ОКБ-2 (Исаев)
		#roMfrKBKhM = Конструкторское бюро химического машиностроения (КБХМ)
		#roMfrОКБ4 = ОКБ-4 (Бисноват)
		#roMfrKBMolniya = Машиностроительное конструкторское бюро «Молния» (МКБ «Молния»)
		#roMfrNPOMolniya = НПО «Молния»
		#roMfrOKB19 = ОКБ-19 (Швецов)
		#roMfrSoloviev = Пермское конструкторское бюро Соловьёва
		#roMfrAviadvigatel = ОАО «Авиадвигатель»
		#roMfrUECAviadvigatel = АО «ОДК-Авиадвигатель»
		#roMfrOKB23 = ОКБ-23 (Мясищев)
		#roMfrSalyut = Машиностроительное конструкторское бюро «Салют» (МКБ «Салют»)
		#roMfrKhrunichev = Государственный космический научно-производственный центр имени М. В. Хруничева (ГКНПЦ им. Хруничева)
		#roMfrOKB36 = ОКБ-36 (Колесов)
		#roMfrRKBM = Рыбинское конструкторское бюро моторостроения (РКБМ)
		#roMfrOKB52 = ОКБ-52 (Челомей)
		#roMfrNPOMash = НПО машиностроения
		#roMfrOKB117 = ОКБ-117 (Климов/Изотов)
		#roMfrOKBKilmov = Ленинградское ОКБ Климова
		#roMfrNPOKilmov = Ленинградское НПО имени В. Я. Климова
		#roMfrJSCKilmov = АО «Климов»
		#roMfrOKB153 = ОКБ-153 (Антонов)
		#roMfrAntonov = Конструкторское бюро Антонова (АНТК имени О. К. Антонова)
		#roMfrSEA = Государственное предприятие «Антонов»
		#roMfrOKB154 = ОКБ-154 (Косберг)
		#roMfrKBKhA = Конструкторское бюро химавтоматики (КБХА)
		#roMfrOKB165 = ОКБ-165 (Люлька)
		#roMfrNPOSaturn = НПО «Сатурн»
		#roMfrUECSaturn = ОДК — НПО «Сатурн»
		#roMfrOKB276 = ОКБ-276 (Кузнецов)
		#roMfrNPOKuznetstov = НПО «Труд» имени Н. Д. Кузнецова
		#roMfrJSCKuznetstov = АО «Кузнецов»
		#roMfrOKB300 = ОКБ-300 (Туманский)
		#roMfrMNZSoyuz = Московский машиностроительный завод «Союз» (ММЗ «Союз»)
		#roMfrOKB301 = ОКБ-301 (Лавочкин)
		#roMfrGSMZLavochkin = Государственный союзный машиностроительный завод имени Лавочкина (ГСМЗ им. Лавочкина)
		#roMfrNPOLavochkin = НПО имени С. А. Лавочкина
		#roMfrOKB456 = ОКБ-456 (Глушко)
		#roMfrKBEnergomash = Конструкторское бюро «Энергомаш»
		#roMfrEnergomash = НПО «Энергомаш» имени академика В. П. Глушко
		#roMfrOKB478 = ОКБ-478 (Ивченко)
		#roMfrIvchenko = Запорожское машиностроительное конструкторское бюро «Ивченко-Прогресс» (ЗМКБ «Ивченко-Прогресс»)
		#roMfrOKB586 = ОКБ-586 (Янгель)
		#roMfrKBYuzhnoye = Конструкторское бюро «Южное»
		#roMfrNPOYuzhnoye = НПО «Южное»
		#roMfrYuzhnoye = Государственное конструкторское бюро «Южное» имени М. К. Янгеля
		#roMfrOKB670 = ОКБ-670 (Бондарюк)
		#roMfrOKB692 = ОКБ-692
		#roMfrKBElectro = Конструкторское бюро электроприборостроения
		#roMfrElectro = НПО «Электроприбор»
		#roMfrKhartron = АО «Хартрон»
		#roMfrOKBFakel = ОКБ «Факел»
		#roMfrNII3 = Научно-исследовательский институт №3 (НИИ-3)
		#roMfrNII1 = Научно-исследовательский институт №1 (НИИ-1)
		#roMfrNIITP = Научно-исследовательский институт тепловых процессов (НИИТП)
		#roMfrKeldysh = Исследовательский центр имени М. В. Келдыша
		#roMfrKurchatov = Курчатовский институт атомной энергии (КИАЭ)
		#roMfrMPEI = Московский энергетический институт (МЭИ)
		#roMfrRedStar = Государственное предприятие «Красная звезда» (ГПКЗ)
	}
}
