Localization
{
	ru
	{
		#roMfrGeneric = Универсальный
		#roMfrABL = ABL Space Systems
		#roMfrAdAstra = Ad Astra Rocket Company
		#roMfrAerojet = Aerojet
		#roMfrAerojetRocketdyne = Aerojet Rocketdyne
		#roMfrAFRL = Исследовательская лаборатория ВВС США (AFRL)
		#roMfrATK = Alliant Techsystems (ATK)
		#roMfrAllison = Allison Engine
		#roMfrAstra = Astra
		#roMfrAstrobotic = Astrobotic
		#roMfrAtomicsInt = Atomics International
		#roMfrAxiom = Axiom Space
		#roMfrBeechcraft = Beechcraft
		#roMfrBell = Bell Aircraft
		#roMfrBellAerosystems = Bell Aerosystems
		#roMfrBellTextron = Bell Textron
		#roMfrBigelow = Bigelow Aerospace
		#roMfrBO = Blue Origin (BO)
		#roMfrBoeing = Boeing
		#roMfrCFM = CFM International
		#roMfrCollins = Collins Radio
		#roMfrConsolidatedVultee = Consolidated Vultee Convair
		#roMfrContinental = Continental Aircraft Engine Company
		#roMrfConvair = Convair
		#roMfrCordant = Cordant Technologies
		#roMfrCRC = Центр исследований в области связи (CRC)
		#roMfrCW = Curtiss-Wright
		#roMfrDHC = De Havilland Canada (DHC)
		#roMfrDouglas = Douglas Aircraft
		#roMfrDTRE = Управление военных исследований в области связи (DRTE)
		#roMfrDynetics = Dynetics
		#roMfrFirefly = Firefly Aerospace
		#roMfrGALCIT = GALCIT
		#roMfrGA = General Atomics
		#roMfrGD = General Dynamics (GD)
		#roMfrGE = General Electric (GE)
		#roMfrGCRC = Grand Central Rocket Company (GCRC)
		#roMfrGRC = Исследовательский центр имени Гленна (NASA)
		#roMfrGSFC = Центр космических полётов имени Годдарда (NASA)
		#roMfrGrumman = Grumman Aerospace
		#roMfrHercules = Hercules
		#roMfrHermeus = Hermeus
		#roMfrHoneywell = Honeywell
		#roMfrHughes = Hughes Aircraft
		#roMfrIBM = IBM
		#roMfrImpulse = Impulse Space
		#roMfrISP = In-Space Propulsion (ISP)
		#roMfrIM = Intuitive Machines (IM)
		#roMfrJPL = Лаборатория реактивного движения (JPL)
		#roMfrKaiserM = Kaiser-Marquardt
		#roMfrLangley = Исследовательский центр имени Лэнгли (NASA)
		#roMfrLRC = Исследовательский центр имени Льюиса (NASA)
		#roMfrLockheed = Lockheed
		#roMfrLM = Lockheed Martin
		#roMfrLANL = Национальная лаборатория Лос-Аламос
	}
}
