Localization
{
	ru
	{
		#roMfrAerospatiale = Aérospatiale
		#roMfrAerospatialeMatra = Aérospatiale-Matra
		#roMfrAirbus = Airbus
		#roMfrAirbusDefence = Airbus Defence and Space
		#roMfrAirbusGroup = Airbus Group
		#roMfrAirbusIndustrie = Airbus Industrie
		#roMfrArianeGroup = ArianeGroup
		#roMfrArmstrong = Armstrong Siddeley
		#roMfrAstrium = Astrium
		#roMfrAvio = Avio
		#roMfrBMW = BMW
		#roMfrBG = Beyond Gravity
		#roMfrBristol = Bristol Aeroplane
		#roMfrBristolSiddeley = Bristol Siddeley
		#roMfrBAC = British Aircraft Corporation
		#roMfrBACAero = British Aircraft Corporation & Aérospatiale
		#roMfrCASA = Construcciones Aeronáuticas (CASA)
		#roMfrCassidian = Cassidian
		#roMfrDaimlerBenz = Daimler-Benz
		#roMfrDASA = Deutsche Aerospace (DASA)
		#roMfrDH = De Havilland
		#roMfrDornier = Dornier Flugzeugwerke
		#roMfrEADS = European Aeronautic Defence and Space (EADS)
		#roMfrEADSAstrium = EADS Astrium
		#roMfrEADSDefence = EADS Defence and Security
		#roMfrEPL = Лаборатория двигательных установок ESA (EPL)
		#roMfrERNO = Северное объединение по разработке (ERNO)
		#roMfrESA = Европейское космическое агентство (ESA)
		#roMfrEurojet = EuroJet Turbo
		#roMfrHeinkel = Heinkel Flugzeugwerke
		#roMfrDLR = Институт космических систем (DLR)
		#roMfrIsar = Isar Aerospace
		#roMfrJunkers = Junkers
		#roMfrLRBA = Лаборатория баллистических и аэродинамических исследований (LRBA)
		#roMfrMBB = Messerschmitt-Bölkow-Blohm
		#roMfrMTU = MTU München
		#roMfrNord = Nord-Aviation
		#roMfrOrbex = Orbex
		#roMfrOttobrunn = Центр космических двигательных установок в Оттобрунне
		#roMfrPeenemunde = Пенемюндский армейский исследовательский центр
		#roMfrPLD = PLD Space
		#roMfrRFA = Rocket Factory Augsburg (RFA)
		#roMfrRPE = Институт ракетных двигательных установок (RPE)
		#roMfrRR = Rolls-Royce
		#roMfrRUAG = RUAG Space
		#roMfrSafran = Safran Aircraft Engines
		#roMfrSaro = Saunders-Roe
		#roMfrSEREB = Общество по изучению и производству баллистических аппаратов (SÉREB)
		#roMfrSEP = Европейская двигательная компания (SEP)
		#roMfrSEPR = Исследовательская компания реактивных двигателей (SEPR)
		#roMfrSNECMA = Национальная компания авиационных двигателей (SNECMA)
		#roMfrSud = Sud-Aviation
		#roMfrThales = Thales Alenia Space
		#roMfrTEC = The Exploration Company
	}
}
