Localization
{
	en-us
	{
		#LOC_ROHeatshields_ROH-AdjustableHIAD_title = Adjustable HIAD
		#LOC_ROHeatshields_ROH-AdjustableHIAD_description = This hypersonic inflatable aerodynamic decelerator can have its diameter and configuration changed to fit many different craft sizes and reentry profiles.
		#LOC_ROHeatshields_ROH-AdjustableHIAD_manufacturer = Generic
		#LOC_ROHeatshields_ROH-AdjustableHIAD_tags = ablate, reentry, heat, shield, heatshield, procedural

		#LOC_ROHeatshields_ROH-AdjustableHS_title = Adjustable Heatshield
		#LOC_ROHeatshields_ROH-AdjustableHS_description = This heatshield can have its diameter and configuration changed to fit many different craft sizes and reentry profiles.
		#LOC_ROHeatshields_ROH-AdjustableHS_manufacturer = Generic
		#LOC_ROHeatshields_ROH-AdjustableHS_tags = ablate, reentry, heat, shield, heatshield, procedural
	}
	ru
	{
		#LOC_ROHeatshields_ROH-AdjustableHIAD_title = Регулируемый HIAD
		#LOC_ROHeatshields_ROH-AdjustableHIAD_description = Гиперзвуковой надувной аэродинамический замедлитель: диаметр и конфигурация настраиваются под любые размеры аппарата и профиль входа в атмосферу.
		#LOC_ROHeatshields_ROH-AdjustableHIAD_manufacturer = Generic
		#LOC_ROHeatshields_ROH-AdjustableHIAD_tags = абляция, спуск, тепло, щит, теплозащита, процедурный

		#LOC_ROHeatshields_ROH-AdjustableHS_title = Регулируемый экран
		#LOC_ROHeatshields_ROH-AdjustableHS_description = Теплозащитный экран: диаметр и конфигурация настраиваются под любые размеры аппарата и профиль входа в атмосферу.
		#LOC_ROHeatshields_ROH-AdjustableHS_manufacturer = Generic
		#LOC_ROHeatshields_ROH-AdjustableHS_tags = абляция, спуск, тепло, щит, теплозащита, процедурный
	}
}
