Localization
{
	en-us
	{
		#LOC_kerbalru_ProceduralParts_proceduralStackDecoupler_title = Decoupler [Procedural]
	}
	ru
	{
		#LOC_kerbalru_ProceduralParts_proceduralStackDecoupler_title = Разделитель [Процедурный]
	}
}
