Localization
{
	en-us
	{
		#LOC_RealChute_RC_cone_title = RealChute Cone Chute
		#LOC_RealChute_RC_cone_description = After Bob almost splattered against the walls of a descending capsule whose instantly-deploying, one-size fits all parachute ripped off, he demanded change. KSC ignored his demand, citing cost, until he returned with a BACC, a lighter, and an empty bottle of Scotch. Terrified, KSC engineers invented the Real Chute, which is highly configurable gradually deploys.
		#LOC_RealChute_RC_cone_manufacturer = RealChute
		#LOC_RealChute_RC_cone_tags = arrest canopy chute decel descen drag entry fall landing re- return safe slow white RealChute para

		#LOC_RealChute_RC_cone_double_title = RealChute Cone Double Chute
		#LOC_RealChute_RC_cone_double_description = After Bill nearly met fiery doom because his Real Chute could not stop his capsule's screaming descent, he demanded change. KSC ignored his demand, citing cost, until he strapped some spare boosters from Jebediah's Junkyard onto his car and flew into the boardroom one afternoon, terrorizing the already traumatized directors with savage screams and his wafer-thin heatshield. KSC engineers hastily added a drogue chute to their otherwise successful Real Chute design.
		#LOC_RealChute_RC_cone_double_manufacturer = RealChute
		#LOC_RealChute_RC_cone_double_tags = arrest canopy chute decel descen drag entry fall landing re- return safe slow white RealChute para

		#LOC_RealChute_RC_radial_title = RealChute Radial Chute
		#LOC_RealChute_RC_radial_description = After Jebediah rejoiced his new heavy capsule's having only one parachute, KSC engineers foresaw the impending fiasco and immediately invented a radial version of the Real Chute.
		#LOC_RealChute_RC_radial_manufacturer = RealChute
		#LOC_RealChute_RC_radial_tags = arrest canopy chute decel descen drag entry fall landing re- return safe slow white RealChute para

		#LOC_RealChute_RC_stack_title = RealChute Stack Chute
		#LOC_RealChute_RC_stack_description = When Vernher designed a parachute that could be placed under things, administrators with brimming eyes called the nursing home. When Verhner spelled "Institutionalize THIS!" with smoking craters on KSC's lawn, they immediately effected his vision.
		#LOC_RealChute_RC_stack_manufacturer = RealChute
		#LOC_RealChute_RC_stack_tags = arrest canopy chute decel descen drag entry fall landing re- return safe slow white RealChute para
	}

	ru
	{
		#LOC_RealChute_RC_cone_title = RealChute: конусный парашют
		#LOC_RealChute_RC_cone_description = Боб чуть не размазался по стенкам спускаемой капсулы, когда единый парашют мгновенного раскрытия оторвался. Он потребовал перемен. KSC сослался на стоимость — пока Боб не вернулся с БАКК, зажигалкой и пустой бутылкой скотча. Перепуганные инженеры KSC изобрели RealChute — гибко настраиваемый парашют с плавным раскрытием.
		#LOC_RealChute_RC_cone_manufacturer = RealChute
		#LOC_RealChute_RC_cone_tags = тормож купол парашют замедл спуск сопротив вход падение посадка ре- возврат безопасн медленн белый RealChute параш

		#LOC_RealChute_RC_cone_double_title = RealChute: двойной конусный парашют
		#LOC_RealChute_RC_cone_double_description = Билл чуть не сгорел заживо — Real Chute не остановил бешеный спуск капсулы, и он потребовал перемен. KSC сослался на стоимость, пока Билл не прикрутил запасные ускорители со свалки Джебедайи к машине и не влетел в кабинет директоров, терроризируя их дикими воплями и тонким, как облатка, теплозащитным экраном. Инженеры KSC спешно добавили тормозной парашют к успешной конструкции Real Chute.
		#LOC_RealChute_RC_cone_double_manufacturer = RealChute
		#LOC_RealChute_RC_cone_double_tags = тормож купол парашют замедл спуск сопротив вход падение посадка ре- возврат безопасн медленн белый RealChute параш

		#LOC_RealChute_RC_radial_title = RealChute: радиальный парашют
		#LOC_RealChute_RC_radial_description = Джебедайя радовался, что у его новой тяжёлой капсулы всего один парашют — инженеры KSC предвидели катастрофу и тут же изобрели радиальную версию Real Chute.
		#LOC_RealChute_RC_radial_manufacturer = RealChute
		#LOC_RealChute_RC_radial_tags = тормож купол парашют замедл спуск сопротив вход падение посадка ре- возврат безопасн медленн белый RealChute параш

		#LOC_RealChute_RC_stack_title = RealChute: стековый парашют
		#LOC_RealChute_RC_stack_description = Когда Вернер придумал парашют для крепления снизу, у администрации от ужаса округлились глаза, и вызвали психушку. Когда Вернер дымящимися воронками написал на газоне KSC «А НУ, ЗАКРОЙТЕ ЭТО!», идею тут же одобрили.
		#LOC_RealChute_RC_stack_manufacturer = RealChute
		#LOC_RealChute_RC_stack_tags = тормож купол парашют замедл спуск сопротив вход падение посадка ре- возврат безопасн медленн белый RealChute параш
	}
}
