Localization
{
    ru
    {
        #LOC_BT_BackgroundThrust = Фоновая тяга
        #LOC_BT_StoppedComplete = Манёвр завершён. Варп тяги остановлен.

        #LOC_BT_Settings_Title = Настройки
        #LOC_BT_Settings_DisplaySection = Фоновая тяга
        #LOC_BT_Settings_RotationThreshold = Порог симуляции вращения
        #LOC_BT_Settings_RotationThreshold_ToolTip = Если варп выше порога, считается что корабль мгновенно поворачивается к цели

        #LOC_BT_Kerbalism_BrokerTitle = двигатели

        #LOC_BT_Kerbalism_BackgroundThrust_DisplayName = Тяга
        #LOC_BT_Kerbalism_BackgroundThrust_Abbreviation = кН
    }
}
